.header {
    background-color: #333;
    height: 45px;
}
.header img {
    height: 45px;
}
.form {
    margin: 10% auto;
    padding: 64px;
    max-width: 600px;
    background: #FFF;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: #f2f2f2;
  }

  input[type=text]{
    width: 80%;
    padding: 12px 20px;
    margin: 4px 0;
    margin-left: 10px;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .btnBusca{
    border:none;
    float:left;
    height:60px;
    border-radius:0 7px 7px 0;
    width:70px;
    font-weight:bold;
    background-color:transparent;
    margin-left: 35px;
  }
  .container img{
    float:right;
    margin-top: 2px;
  }

  select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5%;
  }

  .grid{
    width: 97%;
    height: 33px;
    background-color: #333 ;
    padding: 0 0 0 20px;
    color: white;
  }

  .check{
    margin-top:3%;
    border:solid 1px;
  }

  .btn {
    margin-top: 5%;
    margin-left: 35%;
  
  }
  .btn button {
    background-color: #333 ;
    height: 42px;
    border-radius: 12px;
    color: white;
    width: 25%;
  }

  .ListagemPermissao {
    display: grid;
    grid-template-columns: 20px 1fr;
  }

  .container {
    width: 100%;
    margin: 10px auto;
    background: #f2f2f2;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4), 0 4px 4px rgba(0, 0, 0, 0.2);
  }
  .container input {
    background: transparent;
    border: 0;
    font-size: 30px;
    color: #333;
  }
  .suggestions {
    border-top: 2px solid #999;
  }
  .suggestions > div {
    padding: 15px;
    font-size: 20px;
    color: #333  ;
    border-top: 1px solid #666;
    cursor: pointer;
  }
  .suggestions > div:hover {
    background-color: #f2f2f2;
  }